.player {
	display: flex;

	align-items: center;
	gap: 6px;
	width: 90px;
	height: 90px;
	padding: 12px;
	background-color: rgba(128, 128, 128, 0.724);
	border-radius: 12px 0 0 12px;
	overflow: hidden;

	img {
		height: 50px;
		width: 50px;
		border-radius: 100%;
	}

	.player__name {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			font-size: 1rem;
			font-weight: bold;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-width: 55px;
		}
	}
}

.player-active {
	background-color: rgb(255, 200, 0) !important;
}

@media screen and (min-width: 600px) {
	.player {
		width: 200px;
		padding: 8px;
	}

	.player__name {
		span {
			max-width: 156px !important;
		}
	}
}
