.player {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	padding: 12px;
	background-color: rgba(128, 128, 128, 0.879);
	border-radius: 12px 0 0 12px;

	img {
		height: 50px;
		width: 50px;
		border-radius: 100%;
	}

	.player__name {
		span {
			font-size: 1rem;
			font-weight: bold;
		}
	}
}

.player-active {
	background-color: rgb(255, 200, 0) !important;
}
