/* Mobile */
.all-players-container-mobile {
	display: flex;
	width: 100vw;
	gap: 15px;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0px;
}

/* Desktop */
.all-players-container {
	display: none;
	flex-direction: column;
	gap: 15px;
	height: calc(100vh - 243px);
	overflow: auto;
	position: absolute;
	right: 0;
	top: 32px;
}

.player-position {
	position: absolute;
	right: 0px;
	z-index: 1;
}

.field {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background-image: url('./../../assets/img/warrior.jpg');
	background-size: cover;
	background-position: left;
}

.stack {
	position: relative;

	img {
		position: absolute;
		cursor: pointer;
		width: 120px;
	}

	.top-card {
		transition: all 125ms ease-in-out;

		&:hover {
			transform: scale(1.1) translateY(-10px);
			transition: all 125ms ease-in-out;
		}
	}
}

.played-card {
	right: 25px;
	transform: scale(1) translateY(-250px) translateX(50px) rotate(5deg);
}

.pick-card {
	transition: all 125ms ease-in-out;
	animation: pick-card-animation 1s ease-in-out;
	transform: scale(1) translateY(-250px) translateX(50px) rotate(5deg);
}

@keyframes pick-card-animation {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(1.5);
	}
	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1) translateY(-250px) translateX(50px) rotate(5deg);
	}
}

.btn-add {
	position: absolute;
	bottom: 32px;
	right: 32px;
}

.fix-to-bottom {
	position: absolute;
	/* bottom: 32px;
	left: 32px;
	right: 100px; */
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@media screen and (min-width: 480px) {
	.all-players-container-mobile {
		display: none;
	}

	.all-players-container {
		display: flex;
	}
	.fix-to-bottom {
		bottom: 32px;
		/* 	left: 32px;
		right: 32px; */
		width: 400px;
		margin: auto;
	}

	.btn-add {
		top: 32px;
		left: 32px;
	}
}
