<div class="all-players-container">
	<app-player
		*ngFor="let player of game.players; let i = index"
		[playerActive]="game.currentPlayer === i"
		[name]="player"
		style="top: 50px"
	></app-player>
</div>

<div class="all-players-container-mobile">
	<app-player-mobile
		*ngFor="let player of game.players; let i = index"
		[playerActive]="game.currentPlayer === i"
		[name]="player"
		style="top: 50px"
	></app-player-mobile>
</div>

<div class="field">
	<div class="stack">
		<img
			*ngFor="let card of [0, 1, 2, 3]; let i = index"
			[ngStyle]="{ 'right.px': i * 5 }"
			src="./../../assets/img/cards/card_cover.png"
			alt=""
		/>

		<img
			(click)="pickCard()"
			class="top-card"
			style="right: 25px"
			src="./../../assets/img/cards/card_cover.png"
			alt=""
		/>

		<img
			*ngFor="let card of game.playedCards"
			class="played-card"
			src="./../../assets/img/cards/{{ card }}.png"
			alt=""
		/>

		<img
			*ngIf="game.pickCardAnimation"
			[class.pick-card]="game.pickCardAnimation"
			class="pick-card-animation"
			style="right: 25px"
			src="./../../assets/img/cards/{{ game.currentCard }}.png"
			alt=""
		/>
	</div>
	<app-game-task [card]="game.currentCard" class="fix-to-bottom"></app-game-task>
</div>

<button (click)="openDialog()" mat-fab color="primary" title="add player" class="btn-add">
	<mat-icon>add</mat-icon>
</button>
